@import './base.css';
@import './fonts.css';

#app {
  /* max-width: 1198px; */
  height: 100%;
  /* margin: 0 auto; */
  font-weight: normal;
}

a {
  text-decoration: none;

  * {
    text-decoration: none;
  }
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
}
